<div class="row reset-pw-row">
  <div class="col-12 reset-pw-col">
    <div class="login-form-flex">
      <mat-card>
        <mat-card-title>
          Reset Password
        </mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
          <br/>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-flex-container">
            <button mat-raised-button color="primary">SEND</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
