<div class="row pt-3">
  <div *ngFor="let product of productgrid" class="col-lg-3 col-md-4 col-sm-6 col-12 pt-3">
    <mat-card class="example-card" routerLink="/products/{{product.id}}">
      <img mat-card-image src="/assets/images/products/product{{product.id}}.jpg" alt="" style="height: 420px;">
      <mat-card-content>
        <p class="description-p">
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



