.product-card-header{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20vh;
}

.example-card{
  border: 0.2px solid grey;
  cursor: pointer;
}

.description-p{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
