<div class="row footer-row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-12 footer-col">
    <h2 class="footer-title">About Us</h2>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <div class="mt-2"></div>
    <form action="">
      <input type="email" class="form-control">
      <button type="submit" class="btn btn-primary mt-3">SEND</button>
    </form>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-12 footer-col">
    <h2 class="footer-title">Quick Links</h2>
    <div class="row">
      <div class="col-lg-6 col-12">
        <ul>
          <li>loremwhatever</li>
          <li>loremwhatever</li>
          <li>loremwhatever</li>
        </ul>
      </div>
      <div class="col-lg-6 col-12">
        <ul>
          <li>loremwhatever</li>
          <li>loremwhatever</li>
          <li>loremwhatever</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-12 footer-col">
    <h2 class="footer-title">Contact Info</h2>
    <div>
      <p>
        <i class="fa fa-location-arrow footer-fa" aria-hidden="true"></i>
        203 Fake St. Mountain View, San Fransisco, California, USA
      </p>
      <p><i class="fa fa-phone footer-fa" aria-hidden="true"></i>+2 392 3929 210</p>
      <p><i class="fa fa-envelope footer-fa" aria-hidden="true"></i>emailaddress@domain.com</p>
    </div>
  </div>
</div>
